.container {
    padding: 20px;
    background-color: antiquewhite;
    position: relative;
}

.box {

    left : 140px;
    position: relative;
    transition: left 1s ease-in-out;

}

.box:hover {
    left: 0px;
}